
body {
    background:#353740; 
    /* font-family: 'Roboto', sans-serif; */
    background-image: url('/public/background.png');
    
}

p {
    color:white;
    font-size: 18px;
    font-weight: 100;
}

h2 {
    color:white;
}

img {
    padding: 0;
    margin: 0;
    object-fit: fill;
}

.activeForm {
    background:#111112de;
}