
body {
    background:white; 
    font-family: 'Roboto', sans-serif;
}

p {
    color: black;
    
    font-weight: 100;
}

h2 {
    color:black;
}

img {
    padding: 0;
    margin: 0;
    object-fit: fill;
}

.activeForm {
    background:#618F94
}